<AB>

    Now for annual bonus.  What is the benchmark’s maximum potential yearly bonus?
    
    Is it based on company performance or the potential hires performance?
    
    In order to earn the maximum bonus, the company needs to ___ 
    (be specific: increase revenue by 50%, increase the stock value by 5%, launch the next version of our product).
    
    In order to earn the maximum bonus, the new hire needs to ___ 
    (be specific: close three new deals per quarter, launch the next version of our product, recruit an engineer every month).
    
    ((Display Benchmark Mean Bonus and Your Offer))
    
    