—
<DC>

Based on the new hire’s skills and experience, how much more or less business value will they create compared to the average hire for this role?  Remember, the offer should be firmly tied to the business value the hire will create and you should be prepared to justify the comparison to the skills and experience expected by the market.

Slider from -25% to +25%

—
<DC>

In order to create a fair process and avoid biasing the hiring manager, you need to name someone that the candidate can submit additional information to if they believe the benchmark or experience assessment are incorrect.  This could be someone in HR, another hiring manager, or the hiring manager’s manager (sometimes called a “skip level”).

What is the first and last name of the person to whom the candidate can submit additional information? <text validation>

What is their email? <email validation>

—
<DC>

Is this position salaried or hourly?

1.//Salary: Great.  What is the benchmark salary?  

1a.<Display Benchmark and Your Offer>

2.//Hourly: Great.  How much per hour?  

2a. How many hours per week?  

Result = <Display Benchmark and Your Offer>

—
