<ES>

    Now for equity.  
    
    Over how many years will the equity vest?  
    
    How often will it vest? 1 month, 3 months, 6 months, 12 months
    
    Is the company public or private?
    
    //Public  What is the current price of a share of stock?  How many shares of stock are you offering in total?  
    
    //Private  What is the last priced, post-money valuation of the company?* (We have not yet received a priced investment)
    
    What percentage of the current outstanding shares are you offering in total?
    
    *Do not estimate a future value; your employees have the same risk potential as your investors and should be compensated on the same terms. CHECKBOX “We have not yet received a priced investment.”
    
    ((Display Value and Value As Salary))
    
    