<Overview>

    One of the best ways to fight bias is standardization.  OfferLetter is designed to help you make equitable offers that are easy for people of every background to understand, with a clear, data-driven process for resolving disagreements about what is fair.
    
    Please note that this is a free tool and is not designed to be monetized.  No data is collected (all processing is done on your browser and not sent back to a server) and the goal is to increase pay equity.
    
    In order to continue, please certify that the following is true.
    
    “I am committed to increasing pay equity through a transparent and direct compensation process.” (CHECKBOX)
    
    Let’s get started. <BUTTON>
    
    —
    First up, let’s determine the components of your offer.
    
    <Non optional> Direct Compensation (hourly or salaried wages)
    Annual Bonus
    Equity or Stock
    Benefits
    Relocation/Onboarding Payment
    —
    